[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "feidens.github.io"]
	path = feidens.github.io
	url = https://github.com/feidens/feidens.github.io.git
